<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- Options : https://docs.jboss.org/hibernate/orm/3.3/reference/en-US/html/session-configuration.html -->
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/banque</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<!-- Utilisation du pool interne Hibernate -->
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<mapping resource="compte.hbm.xml" />
		<mapping resource="operation.hbm.xml" />
		<mapping resource="utilisateur.hbm.xml" />
	</session-factory>

</hibernate-configuration>