<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="error" strict="true" name="XMLConfigTest"
	packages="org.apache.logging.log4j.test">
	
	<Appenders>
		<Appender type="Console" name="stdout">
			<PatternLayout pattern="[%d{dd/MM/yyyy HH:mm:ss}] - %5p - %C.%M(...) - %m %n" />
		</Appender>
		<File name="Fichier" fileName="c:/Temp/app.log">
			<PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
		</File>
	</Appenders>

	<Loggers>
		<Logger name="fr.banque" level="DEBUG" additivity="false">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="Fichier" />
		</Logger>

		<Root level="WARN">
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>

</Configuration>