<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <display-name>web01</display-name>
  <!--  Declaration de la servlet -->
  <servlet>
  	<description>Ceci est ma servlet</description>
  	<servlet-name>toto</servlet-name>
  	<servlet-class>fr.web.MaPremiereServlet</servlet-class>
  	<init-param>
  		<param-name>exemple</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>titi</servlet-name>
  	<servlet-class>fr.web.MaSecondeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>toto</servlet-name>
  	<url-pattern>/MaPremiereServlet</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>titi</servlet-name>
  	<url-pattern>/MaSecondeServlet</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>90</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>